<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    <link rel="stylesheet" href="../styles/navbar.css">
    <title>Responsive Navbar</title>
    
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Chess Battles</a></div>
            <ul class="links">
                <li><a href="articles">Articles</a></li>
                <li><a href="aboutus">About Us</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <a href="#" class="action_btn">Play Game</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="articles">Articles</a></li>
            <li><a href="aboutus">About Us</a></li>
            <li><a href="contact">Contact</a></li>
            <li> <a href="#" class="action_btn">Play Game</a></li>
        </div>
    </header>

    <main>
       
    </main>
    
    <script src="../scripts/navbar.js"></script>
</body>
</html>