@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #312e2b;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background-color: #312e2b;
	color: #fff;
	/* background: var(--light-color);
	color: var(--dark-color-a); */
	border: 0;
	font-size: 17px;
}
#bigcont{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* vc */
#vc{
	width: 25%;
	height: 100vh;
	background-color:#312e2b;
}
#videos{
	display: grid;
	grid-template-columns: 1fr;
}

.video-player{
	width: 90%;
	height: 217px;
	border: 1px solid black;
	margin-left: 15px;
	margin-top: 38px;
	border-radius: 20px;
}

#controls {
	position: fixed;
	/* bottom: 20px; */
	left: 12%;
	transform: translateX(-50%);
	display: flex;
	gap: 1em;
}

.control-container {
	margin-top: 10px;
	background-color: rgb(179, 102, 249, .9);
	padding: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.control-container img {
	height: 15px;
	width: 15px;
}

#leave-btn {
	background-color: rgb(255, 80, 80, 1);
}

/* gameboard */
#gameBoard {
	width: 40%;
}

/* Chat Page */

.chat-container {
	max-width: 30%;
	background: #5cb85c;
	overflow: hidden;
	height: 100vh;
}

.chat-header {
	background: #5cb85c;
	color: #fff;

	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* .chat-main {
	 display: grid;
	grid-template-columns: 1fr 3fr; 
} */

.chat-sidebar {
	background: #5cb85c;
	color: #fff;
	padding: 10px 10px 10px;
	/* overflow-y: scroll; */
}

.chat-sidebar h2 {
	font-size: 15px;
	background: rgba(0, 0, 0, 0.1);
	padding: 5px;
	margin-bottom: 5px;
}

.chat-sidebar h3 {
	margin-bottom: 5px;
}

.chat-sidebar ul li {
	padding: 5px 0;
}

.chat-messages {
	padding: 10px;
	height: 295px;
	background-color: #fff;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #bffdbf;
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: #5cb85c;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #040404;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: #96bc4b;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: #96bc4b;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
	background-color: #312e2b;
	color: white;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
