
/* CSS for Footer */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
  }
  
  .footer {
    margin-top: 100px;
    background-color: white;
    font-weight: normal;
    background-color: #19191b;
    color: #ffffff;
    padding: 10px;
  }
  
  #Fmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .bottom {
    margin: 10px;
    flex-basis: 220px;
    flex-grow: 1;
  }
  
  .bottom > ul {
    list-style-type: none;
    padding: 0;
  }
  
  .bottom > ul > li {
    /* font-size: 18px; */
    font-family: poppins;
    /* border: 1px solid blue; */
    margin: 8px auto;
    font-weight: normal;
    color: #ffffff;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  }
  
  .bottom>ul :nth-child(1){
    font-weight: bold;
    /* border: 1px solid red; */
    /* border-bottom: 1px solid #666; */
    /* width: 80%; */
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* font-size: 18px; */
}

  
  .bottom > ul > svg {
    margin-right: 10px;
    vertical-align: middle;
  }
  



  /* RESPONSIVE DESIGN */

@media(max-width:992px){
  
}


@media(max-width:576px){

}
