*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    height: 100vh;
    background-color: #312e2b;
}
header{
    background-color:#96bc4b;;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover{
    color: green;
}

/* HEADER */

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .links>li>a{
    font-size: 1.5rem;
}

.navbar .toggle_btn{
    color: #000;
    font-size: 1.5rem;
    cursor:pointer;
    display: none;
}

.action_btn{
    background-color: green;
    background-color: #007bff;
    color: #000;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor:pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
    letter-spacing: 1px;
}

.action_btn:active{
    scale: 0.95;
}


/* DROPDOWN MENU */

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}


/* HERO */
section#hero{
    height: calc(100vh-60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

/* RESPONSIVE DESIGN */

@media(max-width:992px){
    .navbar .links, .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}


@media(max-width:576px){
    .dropdown_menu {
        left:2rem;
        width: unset;
    }
}
